<div #scrollMe [scrollTop]="scrollMe.scrollHeight" class="main-container">
    <app-breadcrumbs [breadcrumbsList]="breadcrumbsList"></app-breadcrumbs>
    <div class="inner-container">
        <div class="banner-section container py-5">
            <div class="row">
                <div class="col-xs-12 col-md-5">
                    <div class="profile-image">
                        <img [src]="imageURL ? imageURL: '../../../assets/images/icons/usericon.png'"
                            class="lender-card-image" alt="Profile Pic">
                    </div>
                </div>
                <div class="col-xs-12 col-md-7 ml-4">
                    <div class="right-banner-section">
                        <div class="inner-right-banner-left">
                            <h1>{{data.name}}</h1>
                            <h2>{{data.occupation}} {{data.companyName}}</h2>
                            <!-- <h4>108 Reviews</h4> -->
                        </div>
                        <div class="inner-right-banner-right">
                            <button class="btn btn-success py-2 px-4"
                                routerLink="chat/{{data?.userId}}">Message</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="details-section container py-4">
            <div class="row">
                <div class="col-xs-12 col-lg-6">
                    <h3 class="py-2"><strong>About</strong></h3>
                    <p>{{data.about}}</p>
                    <br><br><br>
                    <p class="strong"><strong>Additional Languages spoken: </strong>{{data.additionalLanguage}}</p>
                    <br><br>
                    <p><strong>Email Address:</strong> {{data.email}}</p>
                    <p><strong>Number:</strong> {{data.contact}} </p>
                    <p><strong>Address:</strong> {{data.address}}</p>
                    <p><strong>Serial Number:</strong> {{data.serialNo}}</p>
                    <p><strong>Fee Structure:</strong> {{feeStructure}}</p>
                </div>
                <div class="col-xs-12 col-lg-6">
                    <!-- <h3 class="py-2">Reviews</h3>
                            <p class="pt-4"><strong>Great company and Loan Officer</strong></p>
                            <p>howards271 from Woodcliff Lake, NJ <br />
                            Everyone at ABC Company was pleasant,
                            knowledgeable and professional in every aspect.
                            I expected that refinancing my mortgage was going to be a very unpleasant experience
                            but I can honestly say that the actual process was easy and if I had any questions John Smith was there to answer my questions -
                             at any hour of the day or night.</p>
                             <a href="#">See More</a> -->
                </div>
            </div>
            <div class="row">

                <div class="col-4"></div>
                <div class="col-4"></div>
                <div class="col-4"></div>
            </div>
            <div class="row">
                <mat-tab-group mat-align-tabs="center">
                    <mat-tab label="Requirements">
                        <br>
                        <div class="card">
                            <div class="card-header primary-bg white-color">
                                <h3 class="my-3 white-color">Questions</h3>
                            </div>
                            <div class="card-body">
                                <mat-list role="list" *ngFor="let data of selectedPropertyandQuestions;let i = index">
                                    <h3>{{data.propertyType.title}}</h3>
                                    <div *ngFor="let form of data.forms;let j = index">
                                        <mat-list-item role="listitem"
                                            class="border-bottom border-primary primary-color">
                                            <p>{{form.label}}</p>
                                        </mat-list-item>
                                    </div>
                                </mat-list>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>