<div class="form-container mt-5">
  <form class="form-box mt-4" [formGroup]="loginForm">
    <mat-form-field class="w-100 m-0" appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email"  required/>
      <mat-error
          *ngIf="
          loginForm.get('email')?.touched &&
          loginForm.get('email').errors?.required
          "
        >
          This field is required
        </mat-error>
        <mat-error
          *ngIf="
          loginForm.get('email')?.touched &&
          loginForm.get('email').errors?.pattern
          "
        >
          Invalid email address
        </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100 m-0" appearance="fill">
      <mat-label>Password</mat-label>
      <input [type]="hide ? 'password' : 'text'" matInput placeholder="Password" formControlName="password"  required/>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error
          *ngIf="
          loginForm.get('password')?.touched &&
          loginForm.get('password').errors?.required
          "
        >
          This field is required
        </mat-error>
    </mat-form-field>
    <div class="cursor" fxLayout="row" fxLayoutAlign="end center"><a (click)="openForgotPass()">Forgot password?</a></div>
    <div class="btn-container text-center mt-4">
      <button class="btn btn-primary" [class.disable-btn]="loginForm.invalid" mat-raised-button (click)="onSubmit()">
        Login
      </button>
    </div>
  </form>
  
</div>