<div class="main-container"></div>
<div class="row borrower-list-card-section container-fluid">
    <div class="col-lg-4 col-md-6 col-sm-12 py-4 px-2" *ngFor="let data of dashboardData">
        <div class="card container">
            <div class="card-body text-center">
                <div class="card-description">
                    <h3 style="text-align: left;font-weight: bold;">{{data.heading}}</h3>
                    <hr>
                    <div class="row borrower-list-card-section container-fluid">
                        
                        <div class="col-lg-4 col-md-6 col-sm-12 py-4 px-2">
                            <div class="card-small">
                                <small>Total</small>
                            </div>
                            <mat-icon style="text-align: left;font-size:40px;margin-top: -5px;">list</mat-icon>
                        </div><div class="col-lg-4 col-md-6 col-sm-12 py-4 px-2">
                                <mat-progress-spinner
                                *ngIf="spinner"
                                diameter="30"
                                class="example-margin"
                                [color]="color"
                                [mode]="mode">
                            </mat-progress-spinner>
                            <h2 style="margin-top: 18px;">{{data.total}}</h2>
                        </div>
                    </div>
                    
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
        <div class="container">
            <div class="row">
                <!-- <div class="col-lg-4 col-md-6 col-sm-12 py-4 px-2">
                    <h3 class="sub-heading" style="align-items: space-between; margin-left: 30px;">Recent Chats</h3>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 py-4 px-2">
                    <mat-icon style="text-align: left;margin-left: -230px;font-size: 30px;">chat</mat-icon>
                </div> -->
                <h3 class="sub-heading col-lg-4 col-md-6 col-sm-12" style="margin-left: 30px;">Recent Chats</h3>
                <mat-icon class="col-lg-4 col-md-6 col-sm-12 mt-1" style="margin-left: -300px;">chat</mat-icon>
            </div >
            <hr>
            <div class="history-card container my-1" *ngFor="let message of messageHistory" (click)="routeToChatScreen(message?.recipientId,message?.name)">
                <div class="history-card-left">
                    <div class="history-card-image-container">
                        <img src="{{ message?.picture ? message?.picture : './../../../../assets/images/icons/profile.svg' }}" class="history-card-image" alt="Profile Pic">
                    </div>
                    <div class="history-card-name px-4 mt-3">
                        <h5>{{message.name}}</h5>
                        <p>{{message.lastMessageAt}}</p>
                    </div>
                </div>
                <div class="history-card-right">
                    <div class="history-card-message">
                        <img src="../../../assets/images/icons/messageicon.svg" class="history-message-image" alt="">
                    </div>
                </div>
            </div>
            <h3 *ngIf="noChatFound">No message found</h3>
            <!-- <div class="history-card container my-5">
                <div class="history-card-left">
                    <div class="history-card-image-container">
                        <img src="../../../assets/images/avatar.png" class="history-card-image" alt="Profile Pic">
                    </div>
                    <div class="history-card-name px-2">
                        <h5>John Smith</h5>
                        <p>HML14587J</p>
                    </div>
                </div>
                <div class="history-card-right">
                    <div class="history-card-message">
                        <img src="../../../assets/images/icons/messageicon.svg" class="history-message-image" alt="">
                    </div>
                </div>
            </div> -->
        </div>
</div>
