@import "~../../../../../variables.scss";
.history-card {
    height: 100px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #00000029;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.history-card-left {
    display: flex;
    align-items: center;
    height: 100%;
}
.history-card-image {
    height: 70px !important;
    width: 70px !important;
    border-radius: 50%;
    background-color: #ccc;
    object-fit: cover;
    overflow: hidden;
}

.history-message-image {
    height: 40px;
    width: 40px;
}

p {
    color: $primary-color;
}
@media screen and (max-width: 400px) {
    .history-message-image {
        height: 30px;
        width: 30px;
    }
  }