<div class="landing-screen-container">
  <!-- <div class="icon-container">
    <button class="btn btn-primary borrower-list" mat-raised-button fxLayout="row" fxLayoutAlign="center center">
      <div class="ml-1">Borrowers list</div>
      <img src="../../../assets/images/icons/borrower-white.svg" alt="">
    </button>
    <button class="btn btn-primary primary-bg lender-list" mat-raised-button fxLayout="row" fxLayoutAlign="center center">
      <div class="ml-1"><span [routerLink]="item.url">{{item.name}}</span></div>
      <img src="../../../assets/images/icons/borrower-white.svg" alt="">
    </button>
  </div> -->
  <!-- <nav>
    <app-navbar></app-navbar>
  </nav> -->
  <section class="banner-container text-center m-auto">
    <div class="banner-content m-auto px-5">
      <h1>Find a Mortgage Borrower/Lender to Start Your Home Journey</h1>
      <p class="primary-color text-center">
        The right mortgage lender can provide personalized service for your
        unique loan needs.
      </p>
      <!-- <div class="btn-container text-center mt-4">
        <button class="btn btn-primary" mat-raised-button (click)="open()">
          Account
        </button>
      </div> -->
      <!-- <form class="form-container mt-4">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Search</mat-label>
          <input
            type="text"
            matInput
            placeholder="Enter a city, county or zip code to begin."
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </form> -->
    </div>
  </section>
  <!-- <section class="second-container">
    <div class="content-container shadow-lg">
      <div class="header" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center" fxShow.lt-sm="true" fxShow="false">
        <h5 class="m-0 py-4">About</h5>
        <h5 class="m-0 py-4">Career</h5>
        <h5 class="m-0 py-4">Research</h5>
        <h5 class="m-0 py-4">Help</h5>
        <h5 class="m-0 py-4">Terms of use</h5>
        <h5 class="m-0 py-4">Privacy portal</h5>
        <h5 class="m-0 py-4">Advertise</h5>
      </div>
    </div>
  </section> -->
</div>
