<form class="form-container">
    <h2 class="mb-5 text-center">Forgot Password?</h2>
  <p>
    Enter your e-mail address below and we'll send you a link to reset your
    password.
  </p>
  <mat-form-field class="w-100 m-0" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" [formControl]="email" />
    <mat-error
      *ngIf="
        email?.touched &&
        email.errors?.required
      "
    >
      This field is required
    </mat-error>
    <mat-error
      *ngIf="
        email?.touched &&
        email.errors?.pattern
      "
    >
      Invalid email address
    </mat-error>
  </mat-form-field>
  <div class="btn-container text-center mt-4">
    <button
      type="submit"
      class="btn btn-primary"
      mat-raised-button
      (click)="requestLink($event)"
      [class.disable-btn]="email.invalid || disableButton"
    >
      Request Link
    </button>
    <h3 *ngIf="showTimer" class="mt-2">{{ timeLeft }}</h3>
  </div>
</form>
