<div>
  <mat-stepper [orientation]="(stepperOrientation | async)!" linear="true" #stepper>
    <mat-step [stepControl]="lenderPersonalInfo">
      <form [formGroup]="lenderPersonalInfo" class="form-container">
        <ng-template matStepLabel>Personal Information</ng-template>

        <mat-form-field class="example-full-width profile">
          <!-- <mat-label>Profile Picture</mat-label> -->
          <br>
          <div class="profile-image">
            <img [src]="imageURL ? imageURL: '../../../assets/images/icons/usericon.png'" class="lender-card-image" alt="Profile Pic" matInput>
          </div>
          <div class="upd" hidden>
            <input hidden="true" matInput />
          </div>

          <!-- <input type="file" (change)="onFileSelected($event)" class="imgupload"/> -->
              <label class="remove-button btn btn-primary mx-1" (click)="removeImage()">
                Remove Image
              </label>
              <label class="custom-file-upload btn btn-primary mx-1">
                <input type="file" (change)="onFileSelected($event)" accept="image/png, image/jpg, image/jpeg"/>
                Upload Image
              </label>
         
         
          <mat-error *ngIf="
              lenderPersonalInfo.get('profilePicture')?.touched &&
              lenderPersonalInfo.get('profilePicture').errors?.required
            ">
            This field is required
          </mat-error>

        </mat-form-field>
        <br>
        
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Name</mat-label>
          <input type="text" matInput formControlName="name" placeholder="Name" required />
          <mat-error *ngIf="lenderPersonalInfo.get('name')?.touched &&
              lenderPersonalInfo.get('name').errors?.required">
            This field is required
          </mat-error>
          <mat-error *ngIf="
              lenderPersonalInfo.get('name')?.touched &&
              lenderPersonalInfo.get('name').errors?.minlength;
              else nameMaxLength
            ">
            Minimum
            {{ lenderPersonalInfo.get("name").errors?.minlength?.requiredLength }}
            characters are required
          </mat-error>
          <ng-template #nameMaxLength>
            <mat-error *ngIf="
                lenderPersonalInfo.get('name')?.touched &&
                lenderPersonalInfo.get('name').errors?.maxlength;
                else namePattern
              ">
              Maximum
              {{
              lenderPersonalInfo.get("name").errors?.maxlength?.requiredLength
              }}
              characters are required
            </mat-error>
          </ng-template>
          <ng-template #namePattern>
            <mat-error *ngIf="
                lenderPersonalInfo.get('name')?.touched &&
                lenderPersonalInfo.get('name').errors?.pattern
              ">
              This field can only contain alphabets
            </mat-error>
          </ng-template>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input type="text" matInput formControlName="email" placeholder="Email" required />
          <mat-error *ngIf="
              lenderPersonalInfo.get('email')?.touched &&
              lenderPersonalInfo.get('email').errors?.required
            ">
            This field is required
          </mat-error>
          <mat-error *ngIf="
              lenderPersonalInfo.get('email')?.touched &&
              lenderPersonalInfo.get('email').errors?.pattern
            ">
            Invalid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Password</mat-label>
          <input [type]="hide ? 'password' : 'text'" type="password" matInput formControlName="password" placeholder="Password" required />
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="
              lenderPersonalInfo.get('password')?.touched &&
              lenderPersonalInfo.get('password').errors?.required
            ">
            This field is required
          </mat-error>
          <mat-error *ngIf="
              lenderPersonalInfo.get('password')?.touched &&
              lenderPersonalInfo.get('password').errors?.minlength;
              else passwordMaxLength
            ">
            Minimum
            {{
            lenderPersonalInfo.get("password").errors?.minlength?.requiredLength
            }}
            characters are required
          </mat-error>
          <ng-template #passwordMaxLength>
            <mat-error *ngIf="
                lenderPersonalInfo.get('password')?.touched &&
                  lenderPersonalInfo.get('password').errors?.maxlength;
                else passwordPattern
              ">
              Maximum
              {{
              lenderPersonalInfo.get("password").errors?.maxlength
              ?.requiredLength
              }}
              characters are required
            </mat-error>
          </ng-template>
          <ng-template #passwordPattern>
            <mat-error *ngIf="
                lenderPersonalInfo.get('password')?.touched &&
                lenderPersonalInfo.get('password').errors?.pattern
              ">
              Password must include upper case, lower case and a digit
            </mat-error>
          </ng-template>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Contact</mat-label>
          <input type="text" matInput formControlName="contact" placeholder="Contact" required />
          <mat-error *ngIf="
              lenderPersonalInfo.get('contact')?.touched &&
              lenderPersonalInfo.get('contact').errors?.required
            ">
            This field is required
          </mat-error>
          <mat-error
          *ngIf="
          lenderPersonalInfo.get('contact')?.touched &&
          lenderPersonalInfo.get('contact').errors?.minlength;
             else contactMaxLength
          "
        >
          Minimum
          {{ lenderPersonalInfo.get("contact").errors?.minlength?.requiredLength }}
          Numbers are required
        </mat-error>
        
        <ng-template #contactMaxLength>
          <mat-error
            *ngIf="
            lenderPersonalInfo.get('contact')?.touched &&
            lenderPersonalInfo.get('contact').errors?.maxlength;
              else contactPattern
            "
          >
            Maximum
            {{ lenderPersonalInfo.get("contact").errors?.maxlength?.requiredLength }}
            Numbers are required
          </mat-error>
        </ng-template>
        <ng-template #contactPattern>
          <mat-error
            *ngIf="
              lenderPersonalInfo.get('contact')?.touched &&
              lenderPersonalInfo.get('contact').errors?.pattern
            "
          >
          Contact must include digits and be in US format
          </mat-error>
        </ng-template>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Address</mat-label>
          <input type="text" matInput formControlName="address" placeholder="Address" required />
          <mat-error *ngIf="
              lenderPersonalInfo.get('address')?.touched &&
              lenderPersonalInfo.get('address').errors?.required
            ">
            This field is required
          </mat-error>
          <mat-error *ngIf="
              lenderPersonalInfo.get('address')?.touched &&
                lenderPersonalInfo.get('address').errors?.minlength;
              else addressMaxLength
            ">
            Minimum
            {{
            lenderPersonalInfo.get("address").errors?.minlength?.requiredLength
            }}
            characters are required
          </mat-error>
          <ng-template #addressMaxLength>
            <mat-error *ngIf="
                lenderPersonalInfo.get('address')?.touched &&
                lenderPersonalInfo.get('address').errors?.maxlength
              ">
              Maximum
              {{
              lenderPersonalInfo.get("address").errors?.maxlength
              ?.requiredLength
              }}
              characters are required
            </mat-error>
          </ng-template>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Country</mat-label>
          <input type="text" matInput formControlName="country" placeholder="Country" required />
          <mat-error *ngIf="
              lenderPersonalInfo.get('country')?.touched &&
              lenderPersonalInfo.get('country').errors?.required
            ">
            This field is required
          </mat-error>
          <mat-error *ngIf="
              lenderPersonalInfo.get('country')?.touched &&
                lenderPersonalInfo.get('country').errors?.minlength;
              else countryMaxLength
            ">
            Minimum
            {{
            lenderPersonalInfo.get("country").errors?.minlength?.requiredLength
            }}
            characters are required
          </mat-error>
          <ng-template #countryMaxLength>
            <mat-error *ngIf="
                lenderPersonalInfo.get('country')?.touched &&
                lenderPersonalInfo.get('country').errors?.maxlength
              ">
              Maximum
              {{
              lenderPersonalInfo.get("country").errors?.maxlength
              ?.requiredLength
              }}
              characters are required
            </mat-error>
          </ng-template>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>City</mat-label>
          <input type="text" matInput formControlName="city" placeholder="City" required />
          <mat-error *ngIf="
              lenderPersonalInfo.get('city')?.touched &&
              lenderPersonalInfo.get('city').errors?.required
            ">
            This field is required
          </mat-error>
          <mat-error *ngIf="
              lenderPersonalInfo.get('city')?.touched &&
                lenderPersonalInfo.get('city').errors?.minlength;
              else cityMaxLength
            ">
            Minimum
            {{ lenderPersonalInfo.get("city").errors?.minlength?.requiredLength }}
            characters are required
          </mat-error>
          <ng-template #cityMaxLength>
            <mat-error *ngIf="
                lenderPersonalInfo.get('city')?.touched &&
                lenderPersonalInfo.get('city').errors?.maxlength
              ">
              Maximum
              {{
              lenderPersonalInfo.get("city").errors?.maxlength?.requiredLength
              }}
              characters are required
            </mat-error>
          </ng-template>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>About</mat-label>
          <input type="text" matInput formControlName="about" placeholder="About" required />
          <mat-error *ngIf="
              lenderPersonalInfo.get('about')?.touched &&
              lenderPersonalInfo.get('about').errors?.required
            ">
            This field is required
          </mat-error>
          <mat-error *ngIf="
              lenderPersonalInfo.get('about')?.touched &&
                lenderPersonalInfo.get('about').errors?.minlength;
              else aboutMaxLength
            ">
            Minimum
            {{ lenderPersonalInfo.get("about").errors?.minlength?.requiredLength }}
            characters are required
          </mat-error>
          <ng-template #aboutMaxLength>
            <mat-error *ngIf="
                lenderPersonalInfo.get('about')?.touched &&
                lenderPersonalInfo.get('about').errors?.maxlength
              ">
              Maximum
              {{
              lenderPersonalInfo.get("about").errors?.maxlength?.requiredLength
              }}
              characters are required
            </mat-error>
          </ng-template>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Additional Language</mat-label>
          <input type="text" matInput formControlName="additionalLanguage" placeholder="additionalLanguage" required />
          <mat-error *ngIf="
              lenderPersonalInfo.get('additionalLanguage')?.touched &&
              lenderPersonalInfo.get('additionalLanguage').errors?.required
            ">
            This field is required
          </mat-error>
          <mat-error *ngIf="
              lenderPersonalInfo.get('additionalLanguage')?.touched &&
                lenderPersonalInfo.get('additionalLanguage').errors?.minlength;
              else additionalMaxLength
            ">
            Minimum
            {{ lenderPersonalInfo.get("additionalLanguage").errors?.minlength?.requiredLength }}
            characters are required
          </mat-error>
          <ng-template #additionalMaxLength>
            <mat-error *ngIf="
                lenderPersonalInfo.get('additionalLanguage')?.touched &&
                lenderPersonalInfo.get('additionalLanguage').errors?.maxlength
              ">
              Maximum
              {{
              lenderPersonalInfo.get("additionalLanguage").errors?.maxlength?.requiredLength
              }}
              characters are required
            </mat-error>
          </ng-template>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Designation</mat-label>
          <input type="text" matInput formControlName="designation" placeholder="Designation" required />
          <mat-error *ngIf="
              lenderPersonalInfo.get('designation')?.touched &&
              lenderPersonalInfo.get('designation').errors?.required
            ">
            This field is required
          </mat-error>
          <mat-error *ngIf="
              lenderPersonalInfo.get('designation')?.touched &&
                lenderPersonalInfo.get('designation').errors?.minlength;
              else designationMaxLength
            ">
            Minimum
            {{ lenderPersonalInfo.get("designation").errors?.minlength?.requiredLength }}
            characters are required
          </mat-error>
          <ng-template #designationMaxLength>
            <mat-error *ngIf="
                lenderPersonalInfo.get('designation')?.touched &&
                lenderPersonalInfo.get('designation').errors?.maxlength
              ">
              Maximum
              {{
              lenderPersonalInfo.get("designation").errors?.maxlength?.requiredLength
              }}
              characters are required
            </mat-error>
          </ng-template>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Company Name</mat-label>
          <input type="text" matInput formControlName="companyName" placeholder="companyName" required />
          <mat-error *ngIf="
              lenderPersonalInfo.get('companyName')?.touched &&
              lenderPersonalInfo.get('companyName').errors?.required
            ">
            This field is required
          </mat-error>
          <mat-error *ngIf="
              lenderPersonalInfo.get('companyName')?.touched &&
                lenderPersonalInfo.get('companyName').errors?.minlength;
              else companyNameMaxLength
            ">
            Minimum
            {{ lenderPersonalInfo.get("companyName").errors?.minlength?.requiredLength }}
            characters are required
          </mat-error>
          <ng-template #companyNameMaxLength>
            <mat-error *ngIf="
                lenderPersonalInfo.get('companyName')?.touched &&
                lenderPersonalInfo.get('companyName').errors?.maxlength
              ">
              Maximum
              {{
              lenderPersonalInfo.get("companyName").errors?.maxlength?.requiredLength
              }}
              characters are required
            </mat-error>
          </ng-template>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Telephone</mat-label>
          <input type="text" matInput formControlName="telephone" placeholder="telephone" required />
          <mat-error *ngIf="
              lenderPersonalInfo.get('telephone')?.touched &&
              lenderPersonalInfo.get('telephone').errors?.required
            ">
            This field is required
          </mat-error>
          <mat-error *ngIf="
              lenderPersonalInfo.get('telephone')?.touched &&
                lenderPersonalInfo.get('telephone').errors?.minlength;
              else telephoneMaxLength
            ">
            Minimum
            {{ lenderPersonalInfo.get("telephone").errors?.minlength?.requiredLength }}
            characters are required
          </mat-error>
          <ng-template #telephoneMaxLength>
            <mat-error *ngIf="
                lenderPersonalInfo.get('telephone')?.touched &&
                lenderPersonalInfo.get('telephone').errors?.maxlength
              ">
              Maximum
              {{
              lenderPersonalInfo.get("telephone").errors?.maxlength?.requiredLength
              }}
              characters are required
            </mat-error>
          </ng-template>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Date of birth</mat-label>
        <input matInput [matDatepicker]="picker1" autocomplete="off" formControlName="dob">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1 color="primary"></mat-datepicker>
          
          <mat-error *ngIf="
              lenderPersonalInfo.get('dob')?.touched &&
              lenderPersonalInfo.get('dob').errors?.required
            ">
            This field is required
          </mat-error>
          <mat-error *ngIf="
              lenderPersonalInfo.get('dob')?.touched &&
                lenderPersonalInfo.get('dob').errors?.minlength;
              else dobMaxLength
            ">
            Minimum
            {{ lenderPersonalInfo.get("dob").errors?.minlength?.requiredLength }}
            characters are required
          </mat-error>
          <ng-template #dobMaxLength>
            <mat-error *ngIf="
                lenderPersonalInfo.get('dob')?.touched &&
                lenderPersonalInfo.get('dob').errors?.maxlength
              ">
              Maximum
              {{
              lenderPersonalInfo.get("dob").errors?.maxlength?.requiredLength
              }}
              characters are required
            </mat-error>
          </ng-template>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Gender</mat-label>
          <input type="text" matInput formControlName="gender" placeholder="Gender" required />
          <mat-error *ngIf="
              lenderPersonalInfo.get('gender')?.touched &&
              lenderPersonalInfo.get('gender').errors?.required
            ">
            This field is required
          </mat-error>
          <mat-error *ngIf="
              lenderPersonalInfo.get('gender')?.touched &&
                lenderPersonalInfo.get('gender').errors?.minlength;
              else genderMaxLength
            ">
            Minimum
            {{ lenderPersonalInfo.get("gender").errors?.minlength?.requiredLength }}
            characters are required
          </mat-error>
          <ng-template #genderMaxLength>
            <mat-error *ngIf="
                lenderPersonalInfo.get('gender')?.touched &&
                lenderPersonalInfo.get('gender').errors?.maxlength
              ">
              Maximum
              {{
              lenderPersonalInfo.get("gender").errors?.maxlength?.requiredLength
              }}
              characters are required
            </mat-error>
          </ng-template>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Zip</mat-label>
          <input type="text" matInput formControlName="zip" placeholder="zip" required />
          <mat-error *ngIf="
              lenderPersonalInfo.get('zip')?.touched &&
              lenderPersonalInfo.get('zip').errors?.required
            ">
            This field is required
          </mat-error>
          <mat-error *ngIf="
              lenderPersonalInfo.get('zip')?.touched &&
                lenderPersonalInfo.get('zip').errors?.minlength;
              else zipMaxLength
            ">
            Minimum
            {{ lenderPersonalInfo.get("zip").errors?.minlength?.requiredLength }}
            characters are required
          </mat-error>
          <ng-template #zipMaxLength>
            <mat-error *ngIf="
                lenderPersonalInfo.get('zip')?.touched &&
                lenderPersonalInfo.get('zip').errors?.maxlength
              ">
              Maximum
              {{
              lenderPersonalInfo.get("zip").errors?.maxlength?.requiredLength
              }}
              characters are required
            </mat-error>
          </ng-template>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>State</mat-label>
          <input type="text" matInput formControlName="state" placeholder="state" required />
          <mat-error *ngIf="
              lenderPersonalInfo.get('state')?.touched &&
              lenderPersonalInfo.get('state').errors?.required
            ">
            This field is required
          </mat-error>
          <mat-error *ngIf="
              lenderPersonalInfo.get('state')?.touched &&
                lenderPersonalInfo.get('state').errors?.minlength;
              else stateMaxLength
            ">
            Minimum
            {{ lenderPersonalInfo.get("state").errors?.minlength?.requiredLength }}
            characters are required
          </mat-error>
          <ng-template #stateMaxLength>
            <mat-error *ngIf="
                lenderPersonalInfo.get('state')?.touched &&
                lenderPersonalInfo.get('state').errors?.maxlength
              ">
              Maximum
              {{
              lenderPersonalInfo.get("state").errors?.maxlength?.requiredLength
              }}
              characters are required
            </mat-error>
          </ng-template>
        </mat-form-field>
        <div class="btn-container text-center mt-4">
          <button class="btn btn-primary mx-1 cancel" mat-raised-button (click)="close()">
            Cancel
          </button>
          <button class="btn btn-primary primary-color" mat-raised-button matStepperNext
            [class.disable-btn]="lenderPersonalInfo.invalid">
            Next
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="otherInfo">
      <form [formGroup]="otherInfo" class="form-container">
        <ng-template matStepLabel>Other Information</ng-template>
        <!-- <h4>mat-select</h4> -->
        <mat-form-field appearance="fill">
          <mat-label>Range</mat-label>
          <br>
          <mat-select formControlName="feeStructure">
            <mat-option *ngFor="let feeStructure of feeStructureArray; let i = index" [value]="feeStructure.id">
              {{feeStructure.text}}</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-label class="propertylabel">Property Interest</mat-label>
        <br>
        <!-- <ul>
          <li *ngFor="let property of propertyTypeList; let i = index" style="list-style: none">
            <mat-accordion>
              <mat-expansion-panel [expanded]="indexExpanded == i"
                (opened)="onSelectPropertyType($event,property.propertyTypeId,i)" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <div>
                      {{property.title}}
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-checkbox [checked]="allChecked[i]" matInput formControlName="propertyInterest"
                  (ngModelChange)="selectAll($event,property.propertyTypeId,i)">Select All</mat-checkbox>
                <div formArrayName="propertyQuestions">
                  <ul *ngFor="let questions of propertyQuestionsList[i]; let j = index">
                    <li style="list-style: none">
                      <mat-checkbox [value]="questions.id" [checked]="questions.value" class="authorize-click"
                        (change)="onCheckBoxChange($event,questions.id,i,j)">
                        {{questions.label}}
                      </mat-checkbox>
                    </li>
                  </ul>
                </div>

              </mat-expansion-panel>
            </mat-accordion>

            <br>
        </ul> -->

        <ul>
          <li *ngFor="let prop of getAllFormByListOfIdData; let i = index" style="list-style: none">
            <mat-accordion>
              <mat-expansion-panel [expanded]="indexExpanded == i"
                (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <div>
                      {{prop.propertyType.title}}
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <!-- {{allChecked[i]}} -->
                <mat-checkbox [checked]="allChecked[i]" matInput formControlName="propertyInterest"
                  (ngModelChange)="selectAll($event,prop.propertyType.propertyTypeId,i)">Select All</mat-checkbox>
                <div formArrayName="propertyQuestions">
                  <ul *ngFor="let questions of propertyQuestionsList[i].forms; let j = index">
                    <li style="list-style: none">
                      <mat-checkbox [value]="questions.id" [checked]="questions.isSelected" class="authorize-click"
                        (change)="onCheckBoxChange($event,questions.id,i,j)">
                        {{questions.label}}
                      </mat-checkbox>
                    </li>
                  </ul>
                </div>

              </mat-expansion-panel>
            </mat-accordion>

            <br>
        </ul>
        <div class="btn-container text-center mt-4">
          <button class="btn btn-primary mx-1 primary-color" mat-raised-button matStepperPrevious>
            Back
          </button>
          <button class="btn btn-primary mx-1 primary-color" mat-raised-button [class.disable-btn]="otherInfo.invalid"
            (click)="submit()">
            Submit
          </button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</div>