<form class="form-container" [formGroup]="documentInfo">
    <ng-container style="text-align: center;"><h2 style="text-align: center;">Edit Document Access</h2></ng-container>
    <br>
    <section class="files-list-container mt-5">
        <ul *ngFor="let shareDocument of emailsDocumentAccess;let i = index">
          <li style="list-style: none">
            <mat-accordion>
              <mat-expansion-panel [expanded]="step === i" (opened)="setStep(i)" #expPanel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <div>
                      {{shareDocument.email}}
                    </div>
                    <div>
                      <button class="close" [class.disable-btn]="documentInfo.invalid" (click)="removerUserClick(shareDocument)"></button>
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div style="display:flex; justify-content:space-between;align-items:center" *ngFor="let documentAccess of shareDocument.documentAccess;let j=index">
                  <div style="display:flex;align-items:center">
                    <mat-icon style="margin-top:25px;color: red;" matListAvatar>picture_as_pdf</mat-icon>
                    <div style="display:flex; flex-direction:column">
                      <div style="margin-top:23px;margin-left: 20px;">
                        <h3 matLine> {{documentAccess.documentUrl | urlSetting}}</h3>
                      </div>
                      <div style="margin-top:-45px;margin-left: 420px;text-align: left;">
                        <p matLine>
                          <mat-checkbox [checked]='documentAccess.accessType != [] && documentAccess.accessType[0]=="read" ? documentAccess.accessType[0]: false' (change)="onChangeCheckbox($event,accessTypeRead,i,j,0);">{{accessTypeRead}}</mat-checkbox>
                        </p>
                      </div>
                      <div style="margin-top:-36px;margin-left: 490px;text-align: left;">
                        <p matLine>
                          <mat-checkbox [checked]='(documentAccess.accessType != [] && documentAccess.accessType[1]=="Download" ? true: (documentAccess.accessType[0]=="Download" ? true:false))' (change)="onChangeCheckbox($event,accessTypeDownload,i,j,1)">{{accessTypeDownload}}</mat-checkbox>
                        </p>
                      </div>
                    </div>
                  </div>
                  </div>
              </mat-expansion-panel>
            </mat-accordion>
            <!-- <div style="display:flex; justify-content:space-between;align-items:center">
              <div style="display:flex;align-items:center">
                <mat-icon style="margin-top:15px;color: red;" matListAvatar>picture_as_pdf</mat-icon>
                <div style="display:flex; flex-direction:column">
                  <div style="margin-top:23px;margin-left: 20px;">
                    <h3 matLine> {{document}}</h3>
                  </div>
                  <div style="margin-top:-45px;margin-left: 350px;text-align: left;">
                    <p matLine>
                      <mat-checkbox [checked]='readChecked[i]' (change)="onChange($event,document,accessTypeRead);selected = i;" [value]="accessTypeRead">{{accessTypeRead}}</mat-checkbox>
                    </p>
                  </div>
                  <div style="margin-top:-36px;margin-left: 420px;text-align: left;">
                    <p matLine>
                      <mat-checkbox [checked]='writeChecked[i]' (change)="onChange($event,document,accessTypeDownload);selected = i" [value]="accessTypeDownload">{{accessTypeDownload}}</mat-checkbox>
                    </p>
                  </div>
                </div>
              </div>
              </div> -->
          </li>
        </ul>
          <br>
        <div class="btn-container text-center mt-4">
          <button class="btn btn-primary mx-1" mat-raised-button (click)="close()">
            Cancel
          </button>
          <button class="btn btn-primary mx-1" mat-raised-button [class.disable-btn]="documentInfo.invalid" (click)="onUpdate()">
            Update Access
          </button>
        </div>
    </section>
    
  </form>
